
<h1>Rivals persay</h1>
<%= link_to 'New Rival', new_competitor_path %>
<%= link_to 'Back', 'welcome/index' %>

<%= link_to 'Info', competitors_find_info_path %>

<table>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>

  <% @competitor.each do |competitor| %>
    <tr>
      <td><%= competitor.title %></td>
      <td><%= competitor.text %></td>
      <td><%= link_to 'Peek', competitor_path(competitor) %></td>
      <td><%= link_to 'Edit', edit_competitor_path(competitor) %></td>
      <td><%= link_to 'Remove', competitor_path(competitor),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>